body{
	background-image: url('backgroundimage.png');
	background-size: -webkit-cover;
	background-size: -moz-cover;
	background-size: -ms-cover;
	background-size: -o-cover;
	background-size: cover;
	background-repeat: no-repeat;
	color: #333;
	padding: 0px;
	margin: 0px;
	font-family: 'Myriad Pro';
	font-stretch: condensed;
}

img {
	border: none;
}

.topbar {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	background-color: #fff;
}

.topbar .logo {
	display: inline-block;
	float: left;
}

.topbar .menu {
	display: inline-block;
	margin: -16px;
	float: right;
}

.topbar .menu ul {
	padding: 0;
}

.topbar .menu ul li {
	display: inline-block;
	list-style: none;
}

.topbar .menu a {
	display: block;
	padding: 0 15px;
	font-family: 'Myriad Pro';
	font-size: 14px;
	color: #666;
	line-height: 75px;
	text-decoration: none;
}

.topbar .menu a:hover {
	color: #BB222B;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.main
{
	border-radius: 10px;
	padding: 5px;
	margin-top: 100px;
	background-color: white;
	width:1024px;
	margin-left: auto;
	margin-right: auto;
}

.para, .titles
{
	padding: 5px;
	margin: 5px;
}

.title
{
	text-align: center;
}

.content
{
	color:white;
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	text-align: center;
}

.mainh1
{
	font-weight: 100;
	font-size: 50px;
	font-stretch: condensed;
}

.h1
{
	margin-top: -40px;
}

.btncontainer
{

	margin: 0 auto;
	margin-top: 75px;
	width:1170px;
	text-align: center;
}

.btncontainer a{
	text-decoration: none;
}

.buttons li {
	display: inline-block;
	width:175px;
	padding:0px;
	height:50px;
	background-color: #369588;
	line-height: 50px;
	font-size: 15px;
	color: white;
}

.buttons a {
	color: white;

	
}

#mainsection{
	display: block;
	color: white;
	font-size: 35px;
	text-align: center;
}

#mainpart{
	display: block;
	width: 100%;
	margin:auto auto;

}